            /* ***** Boton Modo oscuro ***/
            @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
            *{
                margin:0;
                padding: 0;
            }
           
            .dark{
                background-color: rgb(54, 54, 54) !important;  
                color: white !important;
            }
            
            .dark-medium{
                background-color: rgb(61, 61, 61) !important;
                color: white;
            }
            
            .dark-ligth{
                background-color: rgb(73, 73, 73) !important;
                color: white;
            }
            
            .dark-input{
                background-color: rgb(92, 92, 92) !important;
                color: white !important;
            }
            
            .dark-hover:hover{
                background-color: rgb(116, 116, 116) !important;
            }
            
            .oculto{
                display: none;
            }
            .navegacion-btn-switch{
                display: flex;
                background-color: rgb(72, 70, 70);
                border-radius: 1000px;
                border: none;
                position: relative;
                cursor: pointer;
                display: flex;    
            }
            
            .navegacion-btn-switch span{
                width: 30px;
                height: 30px;
                line-height: 30px;
                display: block;
                background: none;
                color: white;
            }
            
            .navegacion-btn-switch::after{
                content: "";
                display: block;
                width: 25px;
                height: 25px;
                position: absolute;
                background: rgb(255, 255, 255);
                top: 10%;
                left: 0;
                right: unset;
                border-radius: 100px;
                transition: .3s ease all;
                box-shadow: 1px 0px 3px 3px rgb(255, 202, 202);  
            }
            
            .navegacion-btn-switch.active{
                background-color: orange;
                color: black;
            }
            
            .navegacion-btn-switch.active::after{
                left: unset;
                right: 0;
                
            }
            .title{
                color: rgb(13, 12, 12);
            }

            
            